@font-face {
  font-family: "tele2";
  src: url("../fonts/tele2slabweb-regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "tele2";
  src: url("../fonts/tele2slabweb-bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "tele2";
  src: url("../fonts/tele2slabweb-heavy.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "tele2";
  src: url("../fonts/tele2slabweb-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "tele2", Helvetica, Arial, sans-serif;
}

html.menuOpen {
  overflow: hidden;
}

/********************/
/* fonts en resets */
/******************/

/*****************/
/* kleurenpalet */
/***************/
:root {
  --achtergrond-kleur-1: #000000;
  --achtergrond-kleur-2: #ffd300;
  --achtergrond-kleur-2-hover: #ecdc8d;
  --achtergrond-kleur-2-hover-donker: #cca900;
  --achtergrond-kleur-3: #ffffff;
  --iPhone-tekst-kleur: linear-gradient(
    rgb(232 150 253),
    rgb(184 76 240) 72%
  ); /* credit: https://cssgradient.io/ */

  --button-reeks-zwart-hover-kleur: #808080;

  --button-reeks-onder-kleur1: #009fdf;
  --button-reeks-onder-kleur1-hover: #9adffa;

  --button-reeks-onder-kleur2: #005eb8;
  --button-reeks-onder-kleur2-hover: #88b3db;

  --button-reeks-onder-kleur3: #702082;
  --button-reeks-onder-kleur3-hover: #d0acd8;

  --button-reeks-onder-kleur4: #d40f7d;
  --button-reeks-onder-kleur4-hover: #ffacdb;

  --achtergrond-kleur-nav-button: #f6f6f6;
  --text-kleur-nav-button2: #a4a4a4;

  /*de hover kleuren zijn aangepast tegenover het origineel voor meer accesibility :) */
}

/**********************/
/* op de hele pagina */
/********************/
a {
  font-family: "tele2", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: (var(--achtergrond-kleur-3));
}

ul {
  list-style: none;
}

h2 {
  font-weight: 800;
  font-size: 2.5em;
}

abbr {
  text-decoration: none;
}

main > section {
  padding: 0.5em;
}

footer > section {
  padding: 0.5em;
}

a:focus {
  padding: 0.5em;
  border-color: var(--achtergrond-kleur-2);
  border-width: 4em;
  filter: drop-shadow(0px 10px 0px var(--achtergrond-kleur-1));
  filter: saturate(120%);
}

a:active {
  font-weight: 800;
  font-size: 1.2em;
}

button:not([disabled]),
summary {
  cursor: pointer;
}

/***********/
/* header */
/*********/

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: sticky;
  top: 0;
}

h1 {
  /*doei h1 :)*/
  position: fixed;
  left: -9999em;
}

/*iets meer ruimte boven tele 2 logo*/
body header > a {
  padding-top: 0.3em;
}

header > nav ul {
  /*de nav rechts*/
  /* margin: 0.25em; */
  display: flex;
  height: 100%;
  align-items: center;
}

/*extra ruimte om icoon goed aan te klikken*/
header > nav ul li:hover img {
  filter: invert(100%);
}

header > nav > ul:nth-child(1) > li a {
  padding-top: 4em;
}

header > nav ul li:hover {
  background-color: var(--achtergrond-kleur-3);
}

header nav ul li img {
  /*de images in de nav*/
  max-width: 1.2em;
  margin: 0.5em 1em 0.25em 1em;
  padding: 1em 0em;
}

header nav ul li:nth-of-type(3) img {
  /*het mandje om groter te maken :)*/
  max-width: 1.7em;
  margin: 0.25em 1em;
  margin-top: -0.4em;
}

/****************************/
/* knopje hamburger menuuuuu/   
 credit: https://codepen.io/shooft/pen/dymRMBZ */
header section button {
  display: grid;
  place-items: center;
}

/* alle 3 spans streepjes*/
header section button > span {
  grid-row-start: 1;
  grid-column-start: 1;
  width: 1.6em;
  height: 0.25em;
  background-color: var(--achtergrond-kleur-3);
  transition-duration: 0.5s;
}

/*div 1 dicht*/
header section button span:nth-of-type(1) {
  transform: translateY(-0.4em);
}

/*div 2 staat al goed*/

/*div 3 dicht */
header section button span:nth-of-type(3) {
  transform: translateY(0.4em);
}

/*************/
/*div 1 open*/
/***********/
header section button.menuOpen span:nth-of-type(1) {
  transform: rotate(45deg) scalex(1.25);
}

/*div 2 open*/
header section button.menuOpen span:nth-of-type(2) {
  opacity: 0;
}

/*div 3 open*/
header section button.menuOpen span:nth-of-type(3) {
  transform: rotate(-45deg) scalex(1.25);
}

/********************/
/* uitschuif menu  */
/******************/

header nav section > section {
  flex-direction: column;
  position: fixed;
  inset: 4.3em 0 0 0; /* zorgt ervoor dat het boven de pagina staat*/

  background-color: var(--achtergrond-kleur-3);
  transition: 0.1s;
}

header nav section > section ul {
  flex-direction: column;
  width: 100vw;
}

/* eerste 3 van de nav dikkere tekst*/
header nav section > section ul:nth-of-type(1) li:nth-child(-n + 3) {
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
}

/* pijltje erachter*/
header nav section > section ul:nth-of-type(1) li:nth-child(-n + 3)::after {
  content: "";
  display: inline-block; /* zodat het niet op een nieuwe regel komt*/
  width: 2.5rem;
  aspect-ratio: 1/1;
  background-color: none;

  background-image: url(../images/arrow-summary.png);
  background-size: 40% 40%;
  background-position: center center;
  background-repeat: no-repeat;
}

/* ruimte maken*/
header nav section > section ul:nth-of-type(1) li {
  padding: 1em;
  border-color: var(--achtergrond-kleur-nav-button);
  border-style: solid;
  border-width: 2px;
}

/* onderste twee links sidebar*/
header nav section > section ul:nth-of-type(2) {
  display: flex;
  flex-direction: row;
}

/* prive*/
header nav section > section ul:nth-of-type(2) li:nth-of-type(1) {
  font-weight: 700;
  padding: 2em;
  border-color: var(--achtergrond-kleur-nav-button);
  border-style: solid;
  border-width: 2px;
}

/* zakelijk*/
header nav section > section ul:nth-of-type(2) li:nth-of-type(2) {
  background-color: var(--achtergrond-kleur-nav-button);
  color: var(--text-kleur-nav-button2);
  padding: 2em;

  border-color: var(--achtergrond-kleur-nav-button);
  border-style: solid;
  border-width: 2px;
}

/* main css later verplaatsen!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/**********/
/***********/
/* main!! */
/*********/
/**********/

/**************/
/* section 1 */
/************/

/* credit: https://stackoverflow.com/questions/34141950/how-to-use-tick-checkmark-symbol-instead-of-bullets-in-unordered-list */
/*list style een checkmark maken, en dikker*/
main > section:nth-of-type(1) > ul li:before {
  content: "✓";
  font-weight: 800;
  margin: 0.5em;
}

main > section:nth-of-type(1) > ul {
  margin: 0.25em;
}

h2:nth-child(1) {
  color: var(--achtergrond-kleur-3);
  padding: 0.25em 0.25em 0em 0.25em;
}

h2:nth-child(1) span {
  /*om het laatste woord geel te maken*/
  color: var(--achtergrond-kleur-2);
  display: block;
}

main > section:nth-of-type(1) ul {
  color: var(--achtergrond-kleur-3);
}

main > section:nth-of-type(3) {
  background-color: var(--achtergrond-kleur-2);
}

/* kleine voorwaarden tekst*/
main > section:nth-of-type(3) > p {
  font-size: 0.75em;
  padding-left: 1em;
}

main > section:nth-of-type(1) {
  background-color: var(--achtergrond-kleur-1);
}

/* cupido man!!!!*/
main > section:nth-of-type(1) > img {
  width: 22em;
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

/**********************************/
/* section 2 >> "check it out!"  */
/********************************/

main > section:nth-of-type(2) {
  background-color: var(--achtergrond-kleur-2);
  padding: 1em;
}

/*algemene styling buttons*/
main section:nth-of-type(2) ul {
  text-align: center;
}

main section:nth-of-type(2) ul li {
  margin: 1em;
  border-radius: 100px;
  padding: 1.25em 0em;
}

/*eerste zwarte blokje*/
main section:nth-of-type(2) ul li:nth-of-type(1) {
  background-color: var(--achtergrond-kleur-1);
  color: var(--achtergrond-kleur-3);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in;
}

/*zwarte blokje hover*/
main section:nth-of-type(2) ul li:nth-of-type(1):hover {
  background-color: var(--button-reeks-zwart-hover-kleur);
  color: var(--achtergrond-kleur-3);
}

/*tweede gele blokje*/
main section:nth-of-type(2) ul li:nth-of-type(2) {
  background-color: var(--achtergrond-kleur-2);
  border: solid;
  border-width: 3px;
  border-color: var(--achtergrond-kleur-1);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in;
}

/*gele blokje hover*/
main section:nth-of-type(2) ul li:nth-of-type(2):hover {
  background-color: var(--achtergrond-kleur-1);
  color: var(--achtergrond-kleur-3);
}

/* gele driehoek!!!!!! credit:http://apps.eky.hk/css-triangle-generator/*/
main section:nth-of-type(4) > div {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4em 100vw 0 0px;
  border-color: var(--achtergrond-kleur-2) transparent transparent transparent;
}

/***********************************/
/* section 4: zwarte list linkjes */
/*********************************/

/* eerst padding weghalen voor de gele driehoek, dan weer terug geven*/
main > section:nth-of-type(4) {
  padding: 0em;
  background-color: var(--achtergrond-kleur-3);
}

main > section:nth-of-type(4) ul {
  padding: 3em 0em;
}

/*list link styling*/
main section:nth-of-type(4) ul li {
  text-align: center;
  font-weight: 700;
  background-color: var(--achtergrond-kleur-1);
  color: var(--achtergrond-kleur-3);
  margin: 1em;
  border-radius: 100px;
  padding: 1.25em 0em;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in;
}

/*list link styling hover*/
main section:nth-of-type(4) ul li:hover {
  background-color: var(--button-reeks-zwart-hover-kleur);
  color: var(--achtergrond-kleur-3);
}

/*****************************************/
/* section 5 >> iphone pro op topniveau */
/*****************************************/

main > section:nth-of-type(5) {
  background-color: var(--achtergrond-kleur-1);
  padding: 4em 1em;
}

/* dikkere link font*/
main section:nth-of-type(5) ul li a {
  font-weight: 700;
}

main > section:nth-of-type(5) > img:nth-of-type(1) {
  width: 12em;
}

/*center image*/
main > section:nth-of-type(5) > img:nth-of-type(2) {
  margin: auto;
  display: block;
  width: 28em;
}

/* cirkels bij de eerste list maar niet bij de 2e*/
main > section:nth-of-type(5) ul:nth-of-type(1) {
  list-style: disc;
  color: var(--achtergrond-kleur-3);
  margin-left: 2em;
  margin-bottom: 8em;
}

/* extra ruimte bij list items */
main > section:nth-of-type(5) ul:nth-of-type(1) li {
  padding: 0.25em;
}

/* eerste blokje geel*/
main > section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(1) {
  text-align: center;
  color: var(--achtergrond-kleur-1);
  margin: 1em;
  padding: 1em 0em;
  background-color: var(--achtergrond-kleur-2);
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in;
}

/* tweede blokje alleen gele outline*/
main > section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(2) {
  text-align: center;
  color: var(--achtergrond-kleur-2);
  margin: 1em;
  border-radius: 100px;
  border: solid;
  border-width: 3px;
  border-color: var(--achtergrond-kleur-2);
  padding: 1em 0em;
  background-color: var(--achtergrond-kleur-1);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in;
}

/*transitions*/
/* 1e blokje geel*/
main > section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(1):hover {
  background-color: var(--achtergrond-kleur-2-hover);
}

/* tweede blokje alleen gele outline*/
main > section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(2):hover {
  color: var(--achtergrond-kleur-3);
  background-color: var(--achtergrond-kleur-2-hover-donker);
}

/* paarse gradient tekst*/
h2:nth-child(2) {
  background-image: var(--iPhone-tekst-kleur);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}
/**************/
/* section 6 */
/************/
/* dikkere link font*/
main section:nth-of-type(6) ul li a {
  font-weight: 700;
}

main section:nth-of-type(6) {
  background-color: var(--achtergrond-kleur-3);
  padding: 3em 0em;
}

/*algemene styling buttons*/
main section:nth-of-type(6) ul {
  text-align: center;
}

main section:nth-of-type(6) ul li {
  margin: 1em;
  border-radius: 100px;
  padding: 1.25em 0em;
}

main section:nth-of-type(6) ul li a {
  color: var(--achtergrond-kleur-3);
}

/******************/
/*kleuren buttons*/
/****************/

/* apple button lichtblauw*/
main section:nth-of-type(6) ul li:nth-of-type(1) {
  margin: 1em;
  background-color: var(--button-reeks-onder-kleur1);
  transition: background-color 0.15s ease-in-out, color 0.2s ease-in;
  /*transition duration is aangepast tegenover het origineel om sneller te zijn a.d.h.v feedback acces. test*/
}
/* samsung button blauw*/
main section:nth-of-type(6) ul li:nth-of-type(2) {
  margin: 1em;
  background-color: var(--button-reeks-onder-kleur2);
  transition: background-color 0.15s ease-in-out, color 0.2s ease-in;
}

/* OPPO button paars*/
main section:nth-of-type(6) ul li:nth-of-type(3) {
  margin: 1em;
  background-color: var(--button-reeks-onder-kleur3);
  transition: background-color 0.15s ease-in-out, color 0.2s ease-in;
}
/* xiaomi button roze*/
main section:nth-of-type(6) ul li:nth-of-type(4) {
  margin: 1em;
  background-color: var(--button-reeks-onder-kleur4);
  transition: background-color 0.15s ease-in-out, color 0.2s ease-in;
}

/************************/
/*andere states buttons*/
/**********************/

main section:nth-of-type(6) ul li:nth-of-type(1):hover {
  background-color: var(--button-reeks-onder-kleur1-hover);
}

main section:nth-of-type(6) ul li:nth-of-type(2):hover {
  background-color: var(--button-reeks-onder-kleur2-hover);
}

main section:nth-of-type(6) ul li:nth-of-type(3):hover {
  background-color: var(--button-reeks-onder-kleur3-hover);
}

main section:nth-of-type(6) ul li:nth-of-type(4):hover {
  background-color: var(--button-reeks-onder-kleur4-hover);
}

/*******************/
/***********/
/* footer */
/*********/
/*******************/

footer section {
  padding-left: 1em;
}

footer > section:nth-of-type(1) {
  background-color: var(--achtergrond-kleur-2);
}

footer > section summary {
  color: var(--achtergrond-kleur-1);
}

footer > section:first-of-type ul li a {
  color: var(--achtergrond-kleur-1);
}

/* summary die uitklapt*/
footer > section details summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > section details summary {
  font-weight: 700;
  font-size: 1.2em;
}

/*pijltje begin van summary weghalen en vervangen*/
footer > section details summary::marker {
  content: none;
}

/*icoontje bij details summary*/
footer > section details summary::after {
  content: "";
  display: inline-block; /* zodat het niet op een nieuwe regel komt*/
  width: 2.5rem;
  aspect-ratio: 1/1;
  background-color: none;

  background-image: url(../images/arrow-summary.png);
  background-size: 40% 40%;
  background-position: center center;
  background-repeat: no-repeat;

  transition: 0.3s;
  transition-timing-function: ease-out;
  transform: rotate(90deg);
}

footer > section details[open] summary::after {
  transform: rotate(-90deg);
}

/*************/
/* article 7*/
/***********/

footer > section:nth-of-type(2) {
  background-color: var(--achtergrond-kleur-1);
}

footer > section:nth-of-type(2) li {
  color: var(--achtergrond-kleur-3);
}

section blockquote {
  /* "bepaal het allemaal!*/
  color: var(--achtergrond-kleur-1);
}

footer > section:nth-of-type(2) > ul {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
}

footer > section:nth-of-type(2) > ul li {
  padding: 1em 0em 0em 1em;
  font-weight: 400;
}

footer > section:nth-of-type(2) > ul li:hover {
  text-decoration: underline;
}

footer > section details ul li {
  margin: 1em 0em;
  font-weight: 300;
}
